body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #0d0d0d;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;

}

.menu-item:hover,
.menu-item.is-active {
  background-color: #0d0d0d;
  color: #fff;
}

.menu-item svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
